/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: Montserrat, sans-serif;
  min-height: 100vh;
  padding-top: 120px;
}

/* Header and Navigation */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  z-index: 1000;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

h1, #dev-title {
  color: black;
  font-weight: 800;
}

#dev-title {
  font-weight: 700;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-left: 2rem;
}

.nav-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.4s ease-out;
}

.nav-link:hover,
.nav-link.active {
  color: crimson;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: all 0.3s ease;
}

/* Main Content */
.container-fluid {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1400px;
  padding-top: 120px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 40px 20px;
}

.par1 {
  color: red;
  font-size: 17px;
  line-height: 4px;
  opacity: 0.8;
  margin: 20px 0 30px;
}

/* Compétences */
.skills-list {
  list-style-type: none;
}

.skills-list li {
  padding: 10px;
  margin-bottom: 100px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
}

.skill-item {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-5px);
}

.skill-item i {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
}

.skill-item span {
  display: block;
  font-size: 0.9em;
  color: black;
}

#competences h2,
#projets h2,
#contact {
  padding-top: 70px;
  margin-bottom: 50px;
}

/* Grille des projets */
.grid-container {
  margin: 17px 0 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: black;
  gap: 20px;
  width: 100%;
}

.grid-item {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: justify;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

.grid-item h3 {
  margin-top: 0;
  color: black;
  font-weight: bold;
}

.description {
  font-weight: bold;
}

#about {
  margin: 200px 0 50px;
}

/* Footer */
footer {
  background-color: white;
  color: black;
  font-size: 11px;
  font-weight: bold;
  padding: 20px 0 4px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* Contact Form */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

form label {
  margin-top: 10px;
}

form input,
form textarea {
  padding: 10px;
  margin-top: 5px;
}

form button,
button {
  margin-top: 33px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button {
  margin-bottom: 33px;
}

 /* Media Queries */
@media (max-width: 1280px) {
  .navbar {
    gap: 0;
}

h1, #dev-title {
  color: black;
  font-weight: 750;
}

#dev-title {
  font-weight: 550;
}

.nav-link {
  font-size: 0.7rem;
}
}


/* Media Queries */
@media (max-width: 1024px) {
  body {
    line-height:1;
  }

.hamburger {
    display: block;
    margin-right: 50px;
    padding-left:90px;
  }

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

.nav-menu {
    position: fixed;
    left: -100%;
    top: 120px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 999;
  }

.nav-menu.active {
    margin-top: 8px;
    left: 0;
    display:block;
  }

   .nav-link {
  font-size: 0.8rem;
  }

  h2 {
    font-size:1.7rem;
  }

.nav-item {
    margin: 1.4rem 0;
  }

#competences {
    margin-bottom: 50px;
  }

 .container-fluid {
    width: 100%; 
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 200px;
    margin-top: -150px;
    text-align: center;
  }

.nav-branding {
    max-width: 200px;
    margin-right: 180px;
    padding-right: 30px;
  }

h1 {
    font-size: 25px;
}
 
#dev-title {
    font-size: 19px;
  }

.navbar {
    gap: 50px;
}
}

/* Adjust content for smaller screens */
@media (max-width: 768px) {
  html {
  scroll-padding-top: 70px;
}

  body {
    padding-top: 150px; /* Add padding to avoid content overlap */
  }

    .nav-link {
  font-size: 0.6rem;
  }

    h2 {
    font-size:1.4rem;
  } 

   .nav-branding {
    max-width: 120px;
    margin-right: 20px;
  }

  h1 {
    margin-top:25px;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .container {
    width: 100%;
  }

  .container-fluid {
    padding-top: 180px; /* Adjust content padding so it doesn't hide behind the header */
    width: 100%; 
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #dev-title {
    font-size: 0.7rem;
    margin: 0;
  }

  .hero {
    padding-top: 70px;
    padding-bottom: 70px;
   /* width: 100%;*/
    font-size: 0.9rem;
    
  }

   h1 {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .nav-branding {
    max-width: 120px;
    margin-right: 20px;
  }

  p {
    font-size: 0.9rem;
  }

  .hamburger {
    display: block;
    margin-right: 30px;
    padding-left:20px;
  }
 
  .navbar {
    gap: 35px;
  }

  .par1 {
  font-size: 9px;
  line-height: 1.7px;
  opacity: 0.8;
  margin: 0 0 20px 0;
}

  .social-links {
    gap: 18px;
  }

  footer .social-links a img{
    width: 14px !important;
    height:14px !important;
  }

  .copyright {
    font-size: 0.5rem;
  }
}
